*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #180720;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    padding: 10px;
}
.task-list
{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.task-list a
{
    padding: 10px 15px;
    color: white;
    background: #a860f4;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 300ms;
    border: 2px groove #a860f4;
}
.task-list a:hover
{
    border: 2px groove #fff;
    background: #9741f3;
}